asn1crypto==0.24.0
astroid==2.0.4
attrdict==2.0.0
backcall==0.1.0
bleach==3.1.4
boto==2.48.0
boto3==1.7.32
botocore==1.10.32
bz2file==0.98
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.3
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
decorator==4.3.0
dill==0.2.7.1
docutils==0.14
elmoformanylangs==0.0.2
en-core-web-sm==1.2.0
entrypoints==0.2.3
flake8==3.5.0
ftfy==4.4.3
gensim==3.4.0
h5py==2.8.0
html5lib==1.0.1
idna==2.6
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
isort==4.3.4
jedi==0.12.0
jieba==0.39
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lightgbm==2.2.2
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
mistune==0.8.3
mkl-fft==1.0.0
mkl-random==1.0.1
mpmath==1.0.0
msgpack-numpy==0.4.1
msgpack-python==0.4.8
murmurhash==0.26.4
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.3
notebook==5.5.0
numpy==1.14.5
olefile==0.45.1
overrides==1.9
pandas==0.23.1
pandocfilters==1.4.2
parso==0.2.1
pathlib==1.0.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
plac==0.9.6
preshed==1.0.0
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.5.2
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
Pygments==2.2.0
pylint==2.1.1
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.4
pyzmq==17.0.0
qtconsole==4.3.1
regex==2017.11.9
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
smart-open==1.5.7
spacy==1.9.0
sympy==1.3
tensorboardX==1.4
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
thinc==6.5.2
toolz==0.9.0
torch==0.4.0
torchfile==0.1.0
torchtext==0.3.1
torchvision==0.2.1
tornado==5.0.2
tqdm==4.23.4
traitlets==4.3.2
typed-ast==1.1.0
ujson==1.35
urllib3==1.22
visdom==0.1.8.5
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
widgetsnbextension==3.2.1
wordcloud==1.5.0
wrapt==1.10.11
